.books, .authors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    right: 50px;
}

.bookCover, .authorPic {
    max-height: 200px;
    max-width: 200px;
    margin-top: 50px;   
    margin-bottom: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

.abook, .aauthor {
    display: flex;
    flex-direction: row;
}

.data {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 80px;
    justify-content: space-between;
}





/* Rating Star Widgets Style */

.rating-stars ul {
    list-style-type: none;
    padding: 0;

    -moz-user-select: none;
    -webkit-user-select: none;
}

.rating-stars ul>li.star {
    display: inline-block;
}



/* Idle State of the stars */

.rating-stars ul>li.star>i.fa {
    font-size: 0.7em;
    /* Change the size of the stars */
    color: #ccc;
    /* Color on idle state */
}



/* Hover state of the stars */

.rating-stars ul>li.star.hover>i.fa {
    color: #FFCC36;
}



/* Selected state of the stars */

.rating-stars ul>li.star.selected>i.fa {
    color: #FF912C;
}

.buttons {
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    /*margin-top: 20px;*/
}


/* Remove the navbar's default margin-bottom and rounded borders */

.funcBtn {
    font-family: "Helvetica";
    font-size: 10pt;
    border: 1px solid;
    border-radius: 3px;
    width: 100px;
    height: 30px;
    cursor: hand;
}

.inactive_btn {
    background-color: #ffffff;
    color: #3399FF;
    border-color: #3399FF;
}

.active_btn {
    background-color: #3CB371;
    color: #F5FFFA;
    border-color: #3CB371;
}
